.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
}

.nav-link {
    padding-left: 2rem;
    padding-right: 1rem;
}

.toggler-span {
    padding-right: 1rem;
}

.ecom-brand {
    padding-left: 2rem;
}