/* #nav > ul {
    display: flex;
    justify-content: space-between;
}

#nav > li {
    list-style: none;
}

#nav > Link {
    padding-left: 2rem;
    padding-right: 1rem;
}

#nav > span {
    padding-right: 1rem;
}

#nav > a {
    padding-left: 1rem;
} */