.categories-list {
    list-style: none;
    
}

.categories-list > li {
    padding: 1rem;
    font-weight: bolder;
    
}

.categories-list > img {
    padding: 2rem;
    
}

.category-popup {
    padding: 3rem;
}

.cate-top {
    font-size: xx-large;
    padding: 3rem 0rem 0rem 8rem;

}

.cate-col {
    justify-content: center;
}

.cate-title {
    font-size: x-large;
    padding-left: 2rem;
}