.register-td {
    text-align: left;
}

.register-table {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.register-btn {
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.register-cap {
    margin-left: 1rem;
}